In [1]:
print("Hello World")

Hello World

In [2]:
addition = 2+2
result = addition - 2
print(result)

2

In [3]:
name = input("Enter name:")
print(name)

Enter name: Tanto Wijaya

Tanto Wijaya

In [8]:
var_list = [792564, 465231, 203748, 981037, 857219, 314092, 608345, 123907, 736890, 985026, 
179430, 450218, 680934, 543187, 978260, 283045, 617902, 405826, 820913, 731095, 
592403, 109237, 874956, 605132, 214978, 674519, 391047, 825160, 509317, 768490, 
950283, 307491, 487610, 532198, 605132, 160984, 609873, 245016, 879043, 734126, 
351809, 670594, 920873, 605132, 596410, 135890, 804512, 683420, 290753, 931560, 
175430, 950672, 378490, 284105, 746098, 503624, 605132, 167432, 974810, 519463, 
407835, 740326, 281709, 630921, 953284, 605132, 429731, 183607, 369012, 541380, 
605132, 217605, 496803, 827309, 153607, 605132, 720459, 381904, 594031, 810235, 
673925, 492157, 835096, 260481, 956024, 540329, 806295, 320158, 751903, 980465, 
235780, 857943, 605132, 125094, 620493, 913250
]

panjang = len(var_list)
maksimal = max(var_list)
minimal = min(var_list)

print(panjang)
print(maksimal)
print(minimal)

96
985026
109237

In [21]:
for i in range(1, 3):    
    for j in range(1, 3):    
    print(i,j)

IndentationError: expected an indented block after 'for' statement on line 2 (3400007402.py, line 3)