In [ ]:
"""
TUGAS 1 PEMROGRAMAN PYTHON
Nama           : Tanto Wijaya
Kelas          : EL-45-03
Mata Kuliah    : Kecerdasan Buatan
Python version : 3.11.4
"""

In [23]:
print('1102213211_TantoWijaya')
# Example Number 1: Mencetak teks

print('Hi, Tugas 1 Mata Kuliah Kecerdasan Buatan')

1102213211_TantoWijaya
Hi, Tugas 1 Mata Kuliah Kecerdasan Buatan

In [24]:
print('1102213211_TantoWijaya')
# Example Number 2: Penjumlahan 2 angka

num1 = 4.5
num2 = 3.9

sum = num1 + num2

print('Penjumlahan {0} dan {1} adalah {2}'.format(num1, num2, sum))

1102213211_TantoWijaya
Penjumlahan 4.5 dan 3.9 adalah 8.4

In [25]:
print('1102213211_TantoWijaya')
# Example Number 3: Mencari Akar dari suatu bilangan

num = 16

num_sqrt = num ** 0.5

print('Akar dari %0.2f adalah %0.2f' %(num, num_sqrt));

1102213211_TantoWijaya
Akar dari 16.00 adalah 4.00

In [34]:
print('1102213211_TantoWijaya')
# Example Number 4: Mencari Luas Segitiga

# masukan sisi-sisi segitiga
a = float(input('Masukan sisi pertama: '))
b = float(input('Masukan sisi kedua: '))
c = float(input('Masukan sisi ketiga: '))

# menghitung semi-perimeter
s = (a + b + c) / 2 

# menghitung luas segitiga
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5

print('Luas segitiga adalah %0.2f' %area)

1102213211_TantoWijaya

Masukan sisi pertama:  7
Masukan sisi kedua:  9
Masukan sisi ketiga:  11

Luas segitiga adalah 31.42

In [35]:
print('1102213211_TantoWijaya')
# Example Number 5: Persamaan Kuadrat ax**2 + bx + c = 0

# import complex math module
import cmath

a = 1
b = 5
c = 6

# menghitung diskriminan
d = (b**2) - (4*a*c) 

# mencari 2 solusi
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('Solusinya adalah {0} dan {1}'.format(sol1,sol2))

1102213211_TantoWijaya
Solusinya adalah (-3+0j) dan (-2+0j)

In [28]:
print('1102213211_TantoWijaya')
# Example Number 6: Swap dua variabel

x = input('Masukan nilai x: ')
y = input('Masukan nilai y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('Nilai x setelah di swap: {}'.format(x))
print('Nilai y setelah di swap: {}'.format(y))

1102213211_TantoWijaya

Masukan nilai x:  4
Masukan nilai y:  9

Nilai x setelah di swap: 9
Nilai y setelah di swap: 4

In [32]:
print('1102213211_TantoWijaya')
# Example Number 7: Generate a Random Number 0 - 99

# importing the random module
import random

print(random.randint(0,99))

1102213211_TantoWijaya
36

In [38]:
print('1102213211_TantoWijaya')
# Example Number 8: Konversi kilometer ke mil

kilometers = float(input("Masukan nilai kilometer: "))

# faktor konversi
conv_fac = 0.621371

# menghitung mil
miles = kilometers * conv_fac

print('%0.2f kilometer = %0.2f mil' %(kilometers,miles))

1102213211_TantoWijaya

Masukan nilai kilometer:  99

99.00 kilometer = 61.52 mil

In [40]:
print('1102213211_TantoWijaya')
# Example Number 9: Konversi celsius ke fahrenheit

celsius = 37.5

# menghitung fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('%0.1f derajat Celsius = %0.1f derajat Fahrenheit' %(celsius, fahrenheit))

1102213211_TantoWijaya
37.5 derajat Celsius = 99.5 derajat Fahrenheit

In [41]:
print('1102213211_TantoWijaya')
# Example Number 10: Cek bilangan positif dan negatif

num = float(input("Masukan angka:"))
if num >= 0:
    if num == 0:
        print("Nol")
    else:
        print("Bilangan Positif")
else:
    print("Bilangan Negatif")

1102213211_TantoWijaya

Masukan angka: 97

Bilangan Positif

In [42]:
print('1102213211_TantoWijaya')
# Example Number 11: Cek angka ganjil dan genap

num = int(input("Masukan angka: "))
if (num % 2) == 0:
   print("{0} adalah Genap".format(num))
else:
   print("{0} adalah Ganjil".format(num))

1102213211_TantoWijaya

Masukan angka:  57

57 adalah Ganjil

In [43]:
print('1102213211_TantoWijaya')
# Example Number 12: Cek tahun kabisat

year = int(input("Masukan tahun: "))

if (year % 400 == 0) and (year % 100 == 0):
    print("{0} adalah tahun kabisat".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} adalah tahun kabisat".format(year))
else:
    print("{0} bukan tahun kabisat".format(year))

1102213211_TantoWijaya

Masukan tahun:  2012

2012 adalah tahun kabisat

In [44]:
print('1102213211_TantoWijaya')
# Example Number 13: Mencari angka terbesar

num1 = float(input("Masukan angka pertama: "))
num2 = float(input("Masukan angka kedua: "))
num3 = float(input("Masukan angka ketiga: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("Angka terbesar adalah ", largest)

1102213211_TantoWijaya

Masukan angka pertama:  12
Masukan angka kedua:  32
Masukan angka ketiga:  10

Angka terbesar adalah  32.0

In [45]:
print('1102213211_TantoWijaya')
# Example Number 14: Cek bilangan prima

num = int(input("Masukan angka: "))

# define a flag variable
flag = False

if num == 1:
    print(num, "bukan bilangan prima")
elif num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break
    # check if flag is True
    if flag:
        print(num, "bukan bilangan prima")
    else:
        print(num, "adalah bilangan prima")

1102213211_TantoWijaya

Masukan angka:  37

37 adalah bilangan prima

In [46]:
print('1102213211_TantoWijaya')
# Example Number 15: Mencari bilangan prima pada interval tertentu

lower = 900
upper = 1000

print("Bilangan prima antara", lower, "dan", upper, "adalah:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

1102213211_TantoWijaya
Bilangan prima antara 900 dan 1000 adalah:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [47]:
print('1102213211_TantoWijaya')
# Example Number 16: Mencari angka faktorial

num = int(input("Masukan angka: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Maaf, angka faktorial tidak ada untuk angka negatif.")
elif num == 0:
   print("Faktorial dari 0 adalah 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("Faktorial dari", num, "adalah", factorial)

1102213211_TantoWijaya

Masukan angka:  7

Faktorial dari 7 adalah 5040

In [48]:
print('1102213211_TantoWijaya')
# Example Number 17: Tabel Perkalian

num = int(input("Tampilkan tabel perkalian dari? "))

# iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

1102213211_TantoWijaya

Tampilkan tabel perkalian dari?  16

16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

In [49]:
print('1102213211_TantoWijaya')
# Example Number 18: Deret Fibonacci

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Tolong masukan bilangan bulat positif")
# if there is only one term, return n1
elif nterms == 1:
   print("Deret fibonacci sampai ",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Deret Fibonacci:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

1102213211_TantoWijaya

How many terms?  7

Deret Fibonacci:
0
1
1
2
3
5
8

In [50]:
print('1102213211_TantoWijaya')
# Example Number 19: Check Armstrong Number

num = int(input("Masukan angka: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"adalah angka Armstrong")
else:
   print(num,"bukan angka Armstrong")

1102213211_TantoWijaya

Masukan angka:  407

407 adalah angka Armstrong

In [51]:
print('1102213211_TantoWijaya')
# Example Number 20: Mencari angka Armstrong pada interval tertentu

lower = 100
upper = 2000

for num in range(lower, upper + 1):
   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

1102213211_TantoWijaya
153
370
371
407
1634

In [54]:
print('1102213211_TantoWijaya')
# Example Number 21: Mencari jumlah angka asli

num = 12

if num < 0:
   print("Masukan angka positif")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("Jumlahnya adalah", sum)

1102213211_TantoWijaya
Jumlahnya adalah 78

In [55]:
print('1102213211_TantoWijaya')
# Example Number 22: Tampilkan Pangkat 2 Menggunakan Fungsi Anonim

terms = 10

# terms = int(input("How many terms? "))

# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))

print("The total terms are:",terms)
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

1102213211_TantoWijaya
The total terms are: 10
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512

In [57]:
print('1102213211_TantoWijaya')
# Example Number 23: Menemukan Bilangan Yang Habis Dibagi Bilangan Lain

my_list = [12, 65, 54, 39, 102, 339, 221,]

# use anonymous function to filter
result = list(filter(lambda x: (x % 13 == 0), my_list))

# display the result
print("Daftar angka:", my_list)
print("Angka yang habis dibagi 13 adalah", result)

1102213211_TantoWijaya
Daftar angka: [12, 65, 54, 39, 102, 339, 221]
Angka yang habis dibagi 13 adalah [65, 39, 221]

In [58]:
print('1102213211_TantoWijaya')
# Example Number 24: Convert Decimal to Binary, Octal and Hexadecimal

dec = 344

print("Nilai desimal", dec, "adalah:")
print(bin(dec), "dalam biner.")
print(oct(dec), "dalam octal.")
print(hex(dec), "dalam hexadesimal.")

1102213211_TantoWijaya
Nilai desimal 344 adalah:
0b101011000 dalam biner.
0o530 dalam octal.
0x158 dalam hexadesimal.

In [64]:
print('1102213211_TantoWijaya')
# Example Number 25: Mencari nilai ASCII Karakter

c = 'p'
print("Nilai ASCII dari '" + c + "' adalah", ord(c))

1102213211_TantoWijaya
Nilai ASCII dari 'p' adalah 112

In [65]:
print('1102213211_TantoWijaya')
# Example Number 26: Mencari Faktor Persekutuan Terbesar (FPB)

def compute_hcf(x, y):
    # choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 54 
num2 = 24

print("FPB dari {0} dan {1} adalah".format(num1, num2), compute_hcf(num1, num2))

1102213211_TantoWijaya
FPB dari 54 dan 24 adalah 6

In [66]:
print('1102213211_TantoWijaya')
# Example Number 27: Mencari Kelipatan Persekutuan Terkecil (KPK)

def compute_lcm(x, y):
   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 = 54
num2 = 24

print("KPK dari {0} dan {1} adalah".format(num1, num2), compute_lcm(num1, num2))

1102213211_TantoWijaya
KPK dari 54 dan 24 adalah 216

In [67]:
print('1102213211_TantoWijaya')
# Example Number 28: Mencari Faktor Suatu Bilangan

def print_factors(x):
   print("Faktor dari",x,"adalah:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

num = 320

print_factors(num)

1102213211_TantoWijaya
Faktor dari 320 adalah:
1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [68]:
print('1102213211_TantoWijaya')
# Example Number 29: Kalkulator Sederhana

# fungsi penjumlahan
def add(x, y):
    return x + y

# fungsi pengurangan
def subtract(x, y):
    return x - y

# fungsi perkalian
def multiply(x, y):
    return x * y

# fungsi pembagian
def divide(x, y):
    return x / y

print("Pilih operasi:")
print("1.Penjumlahan")
print("2.Pengurangan")
print("3.Perkalian")
print("4.Pembagian")

while True:
    # take input from the user
    choice = input("Masukan pilihan (1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Masukan angka pertama: "))
            num2 = float(input("Masukan angka kedua: "))
        except ValueError:
            print("Invalid input. Mohon masukan sebuah angka")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Mari kita lakukan perhitungan selanjutnya? (ya/tidak): ")
        if next_calculation == "tidak":
          break
    else:
        print("Invalid Input")

1102213211_TantoWijaya
Pilih operasi:
1.Penjumlahan
2.Pengurangan
3.Perkalian
4.Pembagian

Masukan pilihan (1/2/3/4):  3
Masukan angka pertama:  12
Masukan angka kedua:  11

12.0 * 11.0 = 132.0

Mari kita lakukan perhitungan selanjutnya? (ya/tidak):  tidak

In [70]:
print('1102213211_TantoWijaya')
# Example Number 30: Shuffle Setumpuk Kartu

# importing modules
import itertools, random

# membuat tumpukan kartu
deck = list(itertools.product(range(1,14),['Sekop','Hati','Wajik','Keriting']))

# shuffle kartu
random.shuffle(deck)

# buat lima kartu
print("Anda mendapatkan:")
for i in range(5):
   print(deck[i][0], deck[i][1])

1102213211_TantoWijaya
Anda mendapatkan:
3 Sekop
8 Sekop
8 Wajik
10 Keriting
8 Keriting

In [71]:
print('1102213211_TantoWijaya')
# Example Number 31: Menampilkan Kalendar

# importing calendar module
import calendar

yy = int(input("Masukan tahun: "))
mm = int(input("Masukan bulan: "))

# menampilkan kalendar
print(calendar.month(yy, mm))

1102213211_TantoWijaya

Masukan tahun:  2023
Masukan bulan:  10

    October 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [73]:
print('1102213211_TantoWijaya')
# Example Number 32: Menampilkan deret fibonacci dengan rekursi

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Masukan bilangan bulat positif")
else:
   print("Deret Fibonacci:")
   for i in range(nterms):
       print(recur_fibo(i))

1102213211_TantoWijaya
Deret Fibonacci:
0
1
1
2
3
5
8
13
21
34

In [75]:
print('1102213211_TantoWijaya')
# Example Number 33: Mencari jumlah angka asli dengan rekursi

def recur_sum(n):
   if n <= 1:
       return n
   else:
       return n + recur_sum(n-1)

num = int(input("Masukan angka: "))

if num < 0:
   print("Masukan bilangan bulat positif")
else:
   print("Jumlah angka asli dari 1 sampai {} adalah".format(num), recur_sum(num))

1102213211_TantoWijaya

Masukan angka:  16

Jumlah angka asli dari 1 sampai 16 adalah 136

In [77]:
print('1102213211_TantoWijaya')
# Example Number 34: Mencari Faktorial Bilangan dengan Rekursi

def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num = int(input("Masukan angka:"))

# check if the number is negative
if num < 0:
   print("Maaf, faktorial untuk angka negatif tidak ada.")
elif num == 0:
   print("Faktorial dari 0 adalah 1")
else:
   print("Faktorial dari", num, "adalah", recur_factorial(num))

1102213211_TantoWijaya

Masukan angka: 7

Faktorial dari 7 adalah 5040

In [78]:
print('1102213211_TantoWijaya')
# Example Number 35: Konversi Desimal ke Biner dengan Rekursi

def convertToBinary(n):
   if n > 1:
       convertToBinary(n//2)
   print(n % 2,end = '')

dec = int(input("Masukan angka:"))

convertToBinary(dec)
print()

1102213211_TantoWijaya

Masukan angka: 34

100010

In [80]:
print('1102213211_TantoWijaya')
# Example Number 36: Penjumlahan 2 matriks

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[9,8,1],
    [11,9,12],
    [9,5,13]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

1102213211_TantoWijaya
[21, 15, 4]
[15, 14, 18]
[16, 13, 22]

In [81]:
print('1102213211_TantoWijaya')
# Example Number 37: Transpos Matriks

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

1102213211_TantoWijaya
[12, 4, 3]
[7, 5, 8]

In [84]:
print('1102213211_TantoWijaya')
# Example Number 38: Perkalian 2 matriks

# matriks 3x3
X = [[9,7,3],
    [4 ,5,6],
    [5 ,8,9]]
# matriks 3x4
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
# hasil adalah 3x4
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

1102213211_TantoWijaya
[99, 136, 57, 21]
[74, 97, 73, 14]
[109, 141, 110, 19]

In [85]:
print('1102213211_TantoWijaya')
# Example Number 39: Cek String Palindrome atau bukan

my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

1102213211_TantoWijaya
The string is a palindrome.

In [86]:
print('1102213211_TantoWijaya')
# Example Number 40: Menghapus tanda baca dari sebuah string

# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

my_str = "Hello!!!, he said ---and went."

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

1102213211_TantoWijaya
Hello he said and went

In [87]:
print('1102213211_TantoWijaya')
# Example Number 41: Mengurutkan kata dalam urutan abjad

my_str = input("Masukan string: ")

# breakdown the string into a list of words
words = [word.lower() for word in my_str.split()]

# sort the list
words.sort()

# display the sorted words
print("Kata yang terutut:")
for word in words:
   print(word)

1102213211_TantoWijaya

Masukan string:  ini adalah tugas satu mata kuliah kecerdasan buatan tentang pemrograman python

Kata yang terutut:
adalah
buatan
ini
kecerdasan
kuliah
mata
pemrograman
python
satu
tentang
tugas

In [88]:
print('1102213211_TantoWijaya')
# Example Number 42: Set Operations

# define three sets
E = {0, 2, 4, 6, 8};
N = {1, 2, 3, 4, 5};

# set gabungan
print("Gabungan E dan N adalah",E | N)

# set irisan
print("Irisan E dan N adalah",E & N)

# set selisih
print("Selisih E and N adalah",E - N)

# set symmetric difference
print("Symmetric difference of E and N is",E ^ N)

1102213211_TantoWijaya
Gabungan E dan N adalah {0, 1, 2, 3, 4, 5, 6, 8}
Irisan E dan N adalah {2, 4}
Selisih E and N adalah {0, 8, 6}
Symmetric difference of E and N is {0, 1, 3, 5, 6, 8}

In [89]:
print('1102213211_TantoWijaya')
# Example Number 43: Menghitung huruf vokal

# string of vowels
vowels = 'aeiou'

ip_str = 'Hello, have you tried our tutorial section yet?'

# make it suitable for caseless comparisions
ip_str = ip_str.casefold()

# make a dictionary with each vowel a key and value 0
count = {}.fromkeys(vowels,0)

# count the vowels
for char in ip_str:
   if char in count:
       count[char] += 1

print(count)

1102213211_TantoWijaya
{'a': 2, 'e': 5, 'i': 3, 'o': 5, 'u': 3}

In [91]:
print('1102213211_TantoWijaya')
# Example Number 44: Merge Mails

# open names.txt for reading
with open("task_python/names.txt", 'r', encoding='utf-8') as names_file:

    # open body.txt for reading
    with open("task_python/body.txt", 'r', encoding='utf-8') as body_file:

        # read entire content of the body
        body = body_file.read()

        # iterate over names
        for name in names_file:
            mail = "Hello " + name.strip() + "\n" + body

            # write the mails to individual files
            with open(name.strip()+".txt", 'w', encoding='utf-8') as mail_file:
                mail_file.write(mail)

1102213211_TantoWijaya

In [92]:
print('1102213211_TantoWijaya')
# Example Number 45: Menentukan ukuran/resolusi gambar

def jpeg_res(filename):
   """"This function prints the resolution of the jpeg image file passed into it"""

   # open image for reading in binary mode
   with open(filename,'rb') as img_file:

       # height of image (in 2 bytes) is at 164th position
       img_file.seek(163)

       # read the 2 bytes
       a = img_file.read(2)

       # calculate height
       height = (a[0] << 8) + a[1]

       # next 2 bytes is width
       a = img_file.read(2)

       # calculate width
       width = (a[0] << 8) + a[1]

   print("Resolusi gambar adalah",width,"x",height)

jpeg_res("task_python/pythonimage.webp")

1102213211_TantoWijaya
Resolusi gambar adalah 64639 x 65411

In [93]:
print('1102213211_TantoWijaya')
# Example Number 46: Mencari File Hash

# importing the hashlib module
import hashlib

def hash_file(filename):
   """"This function returns the SHA-1 hash
   of the file passed into it"""

   # make a hash object
   h = hashlib.sha1()

   # open file for reading in binary mode
   with open(filename,'rb') as file:

       # loop till the end of the file
       chunk = 0
       while chunk != b'':
           # read only 1024 bytes at a time
           chunk = file.read(1024)
           h.update(chunk)

   # return the hex representation of digest
   return h.hexdigest()

message = hash_file("task_python/pythonimage.webp")
print(message)

1102213211_TantoWijaya
93990f4d09b1de60ab716cf97c1ec44f43f1afbc

In [94]:
print('1102213211_TantoWijaya')
# Example Number 47: Membuat pola piramida

rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

1102213211_TantoWijaya

Enter number of rows:  8

              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [95]:
print('1102213211_TantoWijaya')
# Example Number 48: Merge dua direktrori

dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

# using the | operator
print(dict_1 | dict_2)

# using the ** operator
print({**dict_1, **dict_2})

# using copy() and update()
dict_3 = dict_2.copy()
dict_3.update(dict_1)

print(dict_3)

1102213211_TantoWijaya
{1: 'a', 2: 'c', 4: 'd'}
{1: 'a', 2: 'c', 4: 'd'}
{2: 'b', 4: 'd', 1: 'a'}

In [117]:
print('1102213211_TantoWijaya')
# Example Number 49: Create a Nested Directory

import os
os.makedirs("task_python/dirA")

1102213211_TantoWijaya

In [97]:
print('1102213211_TantoWijaya')
# Example Number 50: Akses index menggunakan for loop

my_list = [21, 44, 35, 11]

print("Menggunakan enumerate():")

for index, val in enumerate(my_list, start=1):
    print(index, val)

print("Tanpa menggunakan enumerate():")

for index in range(len(my_list)):
    value = my_list[index]
    print(index, value)

1102213211_TantoWijaya
Menggunakan enumerate():
1 21
2 44
3 35
4 11
Tanpa menggunakan enumerate():
0 21
1 44
2 35
3 11

In [98]:
print('1102213211_TantoWijaya')
# Example Number 51: Flatten a Nested List

my_list = [[1], [2, 3], [4, 5, 6, 7]]

# using nested for loops
flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)

print(flat_list)

# using itertools package
import itertools

my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = list(itertools.chain(*my_list))
print(flat_list)

1102213211_TantoWijaya
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [101]:
print('1102213211_TantoWijaya')
# Example Number 52: Slice Lists

my_list = [1, 2, 3, 4, 5]

print(my_list[:])
print(my_list[2:])
print(my_list[:2])
print(my_list[2:4])
# interval
print(my_list[::3])
print(my_list[::-2])
print(my_list[1:4:2])

1102213211_TantoWijaya
[1, 2, 3, 4, 5]
[3, 4, 5]
[1, 2]
[3, 4]
[1, 4]
[5, 3, 1]
[2, 4]

In [104]:
print('1102213211_TantoWijaya')
# Example Number 53: Iterate Over Dictionaries Using for Loop

dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}

# access both key and value using items()
for key, value in dt.items():
    print(key, value)

print("---------------------------")
# access both key and value without using items()
for key in dt:
    print(key, dt[key])

print("---------------------------")
# return keys or values explicitly
for key in dt.keys():
    print(key)
for value in dt.values():
    print(value)

1102213211_TantoWijaya
a juice
b grill
c corn
---------------------------
a juice
b grill
c corn
---------------------------
a
b
c
juice
grill
corn

In [105]:
print('1102213211_TantoWijaya')
# Example Number 54: Sort a Dictionary by Value

dt = {5:4, 1:6, 6:3}

# sort the dictionary based on values
sorted_dt = {key: value for key, value in sorted(dt.items(), key=lambda item: item[1])}
print(sorted_dt)

# sort only the values
sorted_dt_value = sorted(dt.values())
print(sorted_dt_value)

1102213211_TantoWijaya
{6: 3, 5: 4, 1: 6}
[3, 4, 6]

In [107]:
print('1102213211_TantoWijaya')
# Example Number 55: Check if a list is empty

my_list = []

# using boolean operation
if not my_list:
    print("the list is empty")

# using len()
if not len(my_list):
    print("the list is empty")

# comparing with []
if my_list == []:
    print("the list is empty")

1102213211_TantoWijaya
the list is empty
the list is empty
the list is empty

In [112]:
print('1102213211_TantoWijaya')
# Example Number 56: Catch Multiple Exceptions in One Line

string = input()

try:
    num = int(input())
    print(string+num)
except (TypeError, ValueError) as e:
    print(e)

1102213211_TantoWijaya

 a
 5

can only concatenate str (not "int") to str

In [116]:
print('1102213211_TantoWijaya')
# Example Number 57: Copy a File

from shutil import copyfile
copyfile("task_python/names.txt", "task_python/copynames.txt")

1102213211_TantoWijaya

'task_python/copynames.txt'

In [1]:
print('1102213211_TantoWijaya')
# Example Number 58: Concatenate Two Lists

list_1 = [1, 'a']
list_2 = [3, 4, 5]

# using + operator
list_joined1 = list_1 + list_2
print(list_joined1)

# using iterable unpacking operator *
list_joined2 = [*list_1, *list_2]
print(list_joined2)

# with unique values
list_joined3 = list(set(list_1 + list_2))
print(list_joined3)

# using extend()
list_2.extend(list_1)
print(list_2)

1102213211_TantoWijaya
[1, 'a', 3, 4, 5]
[1, 'a', 3, 4, 5]
[1, 3, 4, 5, 'a']
[3, 4, 5, 1, 'a']

In [5]:
print('1102213211_TantoWijaya')
# Example Number 59: Check if a Key is Already Present in a Dictionary

my_dict = {1: 'a', 2: 'b', 3: 'c'}

if 3 in my_dict:
    print("present")

1102213211_TantoWijaya
present

In [10]:
print('1102213211_TantoWijaya')
# Example Number 60: Split a List Into Evenly Sized Chunks

my_list = [1,2,3,4,5,6,7,8,9]

# using yield
def split(list_a, chunk_size):

  for i in range(0, len(list_a), chunk_size):
    yield list_a[i:i + chunk_size]

chunk_size = 3
# my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

# using numpy
import numpy as np

print(np.array_split(my_list, 4))

1102213211_TantoWijaya
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[array([1, 2, 3]), array([4, 5]), array([6, 7]), array([8, 9])]

In [14]:
print('1102213211_TantoWijaya')
# Example Number 61: Parse a String to a Float or Int

# parse string into integer
balance_str1 = "1500"
balance_int1 = int(balance_str1)

print(type(balance_int1))
print(balance_int1)

# parse string into float
balance_str2 = "1500.4"
balance_float = float(balance_str2)

print(type(balance_float))
print(balance_float)

# string float numeral into integer
balance_str3 = "1500.8"
balance_int3 = int(float(balance_str3))

print(type(balance_int3))
print(balance_int3)

1102213211_TantoWijaya
<class 'int'>
1500
<class 'float'>
1500.4
<class 'int'>
1500

In [18]:
print('1102213211_TantoWijaya')
# Example Number 62: Print Colored Text to the Terminal

# using ANSI escape sequences
print('\x1b[38;2;5;86;243m' + 'TantoWijaya' + '\x1b[0m')

# using python module termcolor
from termcolor import colored
print(colored('TantoWijaya', 'green'))

1102213211_TantoWijaya
TantoWijaya
TantoWijaya

In [25]:
print('1102213211_TantoWijaya')
# Example Number 63: Convert String to Datetime

# using datetime module
from datetime import datetime

my_date_string = "Sep 26 2023 7:11PM"

datetime_object = datetime.strptime(my_date_string, '%b %d %Y %I:%M%p')

print(type(datetime_object))
print(datetime_object)

# using dateutil module
from dateutil import parser

date_time = parser.parse("Sep 26 2023 7:17PM")

print(type(date_time))
print(date_time)

1102213211_TantoWijaya
<class 'datetime.datetime'>
2023-09-26 19:11:00
<class 'datetime.datetime'>
2023-09-26 19:17:00

In [29]:
print('1102213211_TantoWijaya')
# Example Number 64: Get the Last Element of the List

my_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(my_list[-1])

1102213211_TantoWijaya
g

In [32]:
print('1102213211_TantoWijaya')
# Example Number 65: Get a Substring of a String

my_string = "I love python."

# prints "love"
print(my_string[2:5])

# prints "love python."
print(my_string[3:])

# prints "I love python"
print(my_string[:-1])

1102213211_TantoWijaya
lov
ove python.
I love python

In [33]:
print('1102213211_TantoWijaya')
# Example Number 66: Print Output Without a Newline

# print each statement on a new line
print("Python")
print("is easy to learn.")

# new line
print()

# print both the statements on a single line
print("Python", end=" ")
print("is easy to learn.")

1102213211_TantoWijaya
Python
is easy to learn.

Python is easy to learn.

In [35]:
print('1102213211_TantoWijaya')
# Example Number 67: Read a File Line by Line Into a List

# using readlines()
with open("task_python/filename.txt") as f:
    content_list = f.readlines()

# print the list
print(content_list)

# remove new line characters
content_list = [x.strip() for x in content_list]
print(content_list)

1102213211_TantoWijaya
['semester 5\n', 'tingkat 3\n', 'tahun 2023']
['semester 5', 'tingkat 3', 'tahun 2023']

In [39]:
print('1102213211_TantoWijaya')
# Example Number 68: Randomly Select an Element From the List

my_list = [1, 'a', 32, 'c', 'd', 31]

# using random module
import random
print(random.choice(my_list))

# using secrets module
import secrets
print(secrets.choice(my_list))

1102213211_TantoWijaya
a
31

In [40]:
print('1102213211_TantoWijaya')
# Example Number 69: Check If a String Is a Number (Float)

def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False

print(isfloat('s12'))
print(isfloat('123'))
print(isfloat('1.123'))

1102213211_TantoWijaya
False
True
True

In [42]:
print('1102213211_TantoWijaya')
# Example Number 70: Count the Occurrence of an Item in a List

my_list = ['a', 1, 'a', 4, 3, 2, 'a']
freq = my_list.count('a')
print(freq)

1102213211_TantoWijaya
3

In [45]:
print('1102213211_TantoWijaya')
# Example Number 71: Append to a File

with open("task_python/filename.txt", "a") as f:
   f.write("Telkom University")

1102213211_TantoWijaya

In [48]:
print('1102213211_TantoWijaya')
# Example Number 72: Delete an Element From a Dictionary

my_dict = {31: 'a', 21: 'b', 14: 'c'}

# using del keyword
del my_dict[21]
print(my_dict)

# using pop()
print(my_dict.pop(14))
print(my_dict)

1102213211_TantoWijaya
{31: 'a', 14: 'c'}
c
{31: 'a'}

In [51]:
print('1102213211_TantoWijaya')
# Example Number 73: Create a Long Multiline String

# using triple quotes
my_string = '''The only way to
learn to program is
by writing code.'''

print(my_string)

# using parentheses and a single/double quotes
my_string1 = ("Tugas 1 \n"
        	"Mata Kuliah \n"
        	"Kecerdasan Buatan.")

print(my_string1)

# using /
my_string2 = "Belajar \n" \
        	"Pemrograman \n" \
        	"Python."

print(my_string2)

1102213211_TantoWijaya
The only way to
learn to program is
by writing code.
Tugas 1
Mata Kuliah
Kecerdasan Buatan.
Belajar
Pemrograman
Python.

In [53]:
print('1102213211_TantoWijaya')
# Example Number 74: Extract Extension From the File Name

# using splitext() method from os module
import os
file_details = os.path.splitext('task_python/pythonimage.webp')
print(file_details)
print(file_details[1])

# using pathlib module
import pathlib
print(pathlib.Path('task_python/pythonimage.webp').suffix)

1102213211_TantoWijaya
('task_python/pythonimage', '.webp')
.webp
.webp

In [57]:
print('1102213211_TantoWijaya')
# Example Number 75: Measure the Elapsed Time in Python

# using time module
import time

start1 = time.time()

print(23*2.3)

end1 = time.time()
print(end1 - start1)

# using timeit module
from timeit import default_timer as timer

start2 = timer()

print(23*2.3)

end2 = timer()
print(end2 - start2)

1102213211_TantoWijaya
52.9
0.0
52.9
2.7099999897473026e-05

In [60]:
print('1102213211_TantoWijaya')
# Example Number 76: Get the Class Name of an Instance

# using __class__.__name__
class Vehicle:
    def name(self, name):
        return name

v = Vehicle()
print(v.__class__.__name__)

# using type() and __name__ attribute
class Vehicle:
    def name(self, name):
        return name

v = Vehicle()
print(type(v))
print(type(v).__name__)

1102213211_TantoWijaya
Vehicle
<class '__main__.Vehicle'>
Vehicle

In [62]:
print('1102213211_TantoWijaya')
# Example Number 77: Convert Two Lists Into a Dictionary

# using zip and dict methods
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = dict(zip(index, languages))
print(dictionary)

# using list comprehension
index = [4, 5, 6]
languages = ['java', 'typescript', 'golang']

dictionary = {k: v for k, v in zip(index, languages)}
print(dictionary)

1102213211_TantoWijaya
{1: 'python', 2: 'c', 3: 'c++'}
{4: 'java', 5: 'typescript', 6: 'golang'}

In [63]:
print('1102213211_TantoWijaya')
# Example Number 78: Differentiate Between type() and isinstance()

class Polygon:
    def sides_no(self):
        pass

class Triangle(Polygon):
    def area(self):
        pass

obj_polygon = Polygon()
obj_triangle = Triangle()

print(type(obj_triangle) == Triangle)   	# true
print(type(obj_triangle) == Polygon)    	# false

print(isinstance(obj_polygon, Polygon)) 	# true
print(isinstance(obj_triangle, Polygon))	# true

1102213211_TantoWijaya
True
False
True
True

In [70]:
print('1102213211_TantoWijaya')
# Example Number 79: Trim Whitespace From a String

# using strip()
my_string = " Python "
my_string2 = " Python Programming "
print(my_string.strip())
print(my_string2.strip())

1102213211_TantoWijaya
Python
Python Programming

In [71]:
print('1102213211_TantoWijaya')
# Example Number 80: Get the File Name From the File Path

import os

# file name with extension
file_name = os.path.basename('task_python/pythonimage.webp')

# file name without extension
print(os.path.splitext(file_name)[0])

1102213211_TantoWijaya
pythonimage

In [73]:
print('1102213211_TantoWijaya')
# Example Number 81: Represent enum

from enum import Enum

class Day(Enum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3

# print the enum member
print(Day.WEDNESDAY)

# get the name of the enum member
print(Day.WEDNESDAY.name)

# get the value of the enum member
print(Day.WEDNESDAY.value)

1102213211_TantoWijaya
Day.WEDNESDAY
WEDNESDAY
3

In [74]:
print('1102213211_TantoWijaya')
# Example Number 82: Return Multiple Values From a Function

def name():
    return "Tanto","Wijaya"

# print the tuple with the returned values
print(name())

# get the individual items
name_1, name_2 = name()
print(name_1, name_2)

1102213211_TantoWijaya
('Tanto', 'Wijaya')
Tanto Wijaya

In [75]:
print('1102213211_TantoWijaya')
# Example Number 83: Get Line Count of a File

def file_len(fname):
    with open(fname) as f:
        for i, l in enumerate(f):
            pass
    return i + 1

print(file_len("task_python/filename.txt"))

1102213211_TantoWijaya
3

In [76]:
print('1102213211_TantoWijaya')
# Example Number 84: Find All File with .txt Extension Present Inside a Directory

import glob, os

os.chdir("task_python")

for file in glob.glob("*.txt"):
    print(file)

1102213211_TantoWijaya
body.txt
copynames.txt
filename.txt
names.txt

In [5]:
print('1102213211_TantoWijaya')
# Example Number 85: Get File Creation and Modification Date

import os.path, time, pathlib

file = pathlib.Path('task_python/filename.txt')
print("Last modification time: %s" % time.ctime(os.path.getmtime(file)))
print("Last metadata change time or path creation time: %s" % time.ctime(os.path.getctime(file)))

1102213211_TantoWijaya
Last modification time: Tue Sep 26 19:36:21 2023
Last metadata change time or path creation time: Tue Sep 26 19:24:30 2023

In [6]:
print('1102213211_TantoWijaya')
# Example Number 86: Get the Full Path of the Current Working Directory

import pathlib

# path of the given file
print(pathlib.Path("task_python/filename.txt").parent.absolute())

# current working directory
print(pathlib.Path().absolute())

1102213211_TantoWijaya
A:\AAA\Jupyter\task_python
A:\AAA\Jupyter

In [7]:
print('1102213211_TantoWijaya')
# Example Number 87: Iterate Through Two Lists in Parallel

list_1 = [1, 2, 3, 4]
list_2 = ['a', 'b', 'c']

for i, j in zip(list_1, list_2):
    print(i, j)

1102213211_TantoWijaya
1 a
2 b
3 c

In [8]:
print('1102213211_TantoWijaya')
# Example Number 88: Check the File Size

import os

file_stat = os.stat('task_python/filename.txt')
print(file_stat.st_size)

1102213211_TantoWijaya
65

In [11]:
print('1102213211_TantoWijaya')
# Example Number 89: Reverse a Number

# using a while loop
num = 87654
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

# using string slicing
num2 = 123456
print(str(num2)[::-1])

1102213211_TantoWijaya
Reversed Number: 45678
654321

In [12]:
print('1102213211_TantoWijaya')
# Example Number 90: Compute the Power of a Number

base = 3
exponent = 4

result = 1

while exponent != 0:
    result *= base
    exponent-=1

print("Answer = " + str(result))

1102213211_TantoWijaya
Answer = 81

In [13]:
print('1102213211_TantoWijaya')
# Example Number 91: Count the Number of Digits Present In a Number

num = 3452
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

1102213211_TantoWijaya
Number of digits: 4

In [14]:
print('1102213211_TantoWijaya')
# Example Number 92: Check If Two Strings are Anagram

str1 = "Race"
str2 = "Care"

# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

1102213211_TantoWijaya
race and care are anagram.

In [16]:
print('1102213211_TantoWijaya')
# Example Number 93: Capitalize the First Character of a String

my_string = "tugas pemrograman python"
print(my_string[0].upper() + my_string[1:])

1102213211_TantoWijaya
Tugas pemrograman python

In [18]:
print('1102213211_TantoWijaya')
# Example Number 94: Compute all the Permutation of the String

def get_permutation(string, i=0):

    if i == len(string):   	 
        print("".join(string))

    for j in range(i, len(string)):

        words = [c for c in string]
   
        # swap
        words[i], words[j] = words[j], words[i]
   	 
        get_permutation(words, i + 1)

print(get_permutation('twjy'))

1102213211_TantoWijaya
twjy
twyj
tjwy
tjyw
tyjw
tywj
wtjy
wtyj
wjty
wjyt
wyjt
wytj
jwty
jwyt
jtwy
jtyw
jytw
jywt
ywjt
ywtj
yjwt
yjtw
ytjw
ytwj
None

In [20]:
print('1102213211_TantoWijaya')
# Example Number 95: Create a Countdown Timer

import time

def countdown(time_sec):
    while time_sec:
        mins, secs = divmod(time_sec, 60)
        timeformat = '{:02d}:{:02d}'.format(mins, secs)
        print(timeformat, end='\r')
        time.sleep(1)
        time_sec -= 1

    print("stop")

countdown(8)

1102213211_TantoWijaya
stop1

In [22]:
print('1102213211_TantoWijaya')
# Example Number 96: Count the Number of Occurrence of a Character in String

count = 0

my_string = "tantowijaya"
my_char = "a"

for i in my_string:
    if i == my_char:
        count += 1

print(count)

1102213211_TantoWijaya
3

In [23]:
print('1102213211_TantoWijaya')
# Example Number 97: Remove Duplicate Element From a List

list_1 = [1, 2, 1, 4, 6]
print(list(set(list_1)))

1102213211_TantoWijaya
[1, 2, 4, 6]

In [25]:
print('1102213211_TantoWijaya')
# Example Number 98: Convert Bytes to a String

print(b'Selesai \xE2\x9C\x85'.decode("utf-8"))

1102213211_TantoWijaya
Selesai ✅